target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/disconf/
/disconfs/
/log/
/logs/
/.logs/

# maven backup files
*.xml.versionsBackup

### log files ###
*.log

### OOM SNAP-SHOT
*.index
*.hprof
*.threads

